.Statistics {
    display:flex;
    justify-content: space-around;
    padding: 24px 20px;
    text-align: center;
}
.Statistics-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}
.Statistics-item a {
    text-decoration: none;
    color: inherit;
}

.Statistics-item:hover {
  color: var(--verde-claro);
  text-decoration: underline;
}