.Statistics {
    display:flex;
    justify-content: space-around;
    padding: 24px 20px;
    text-align: center;
    color: #114427;
    flex-wrap: wrap;
    gap: 40px;
}
.Statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    flex: 1 1 auto; 
    min-width: 120px;
    padding: 12px;
}
@media (max-width: 768px) {
    .Statistics {
        flex-wrap: wrap;
    }
    
    .Statistics-item {
        flex: 1 1 40%;
    }
}

.Statistics-item:hover {
  color: var(--verde-claro);
  text-decoration: underline;
}

@media (min-width: 768px) {
    .statistics-container, .stats-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}