:root {
  /* Cores oficiais extraídas do seu novo template NaturaBR */
  --vegetacao-header: #1b3d2b;
  --areia-fundo: #fbf5ed;
  --verde-ativo: #1e3a27;
  --branco: #ffffff;
  --cinza-texto: #333333;
}

html, 
body, 
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--areia-fundo) !important;
  color: var(--cinza-texto) !important;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

body {
  display: flex;
  place-items: initial;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--cinza-texto);
  font-family: sans-serif;

}

.conteudo-principal {
  flex: 1;
}
